@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 80px 0;

}
.row{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.navigation{
    height: 60px;
}
img{
    width: 100%;
}
.nav__treact{
    width: 40px;
    margin-right: 12px;
}
.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    padding-left: 8px;
    transition: all 450ms ease;
    color: #516486;
}

a:hover{
    color: #0f50c7;
}
a{
    color: black;
    text-decoration: none;
}
.nav__links{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.nav__link{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #516486;
}
.nav__link--wrapper:nth-child(5){
    margin-left: 48px;
}
.nav__link--primary{
    background-color: #0f50c7;
    border-radius: 60px;
    color: white;
    padding: 8px 30px;
    cursor: pointer;
    border: none;
}
.nav__link--primary:hover{
    color: white;
}
.text--blue{
    color: #0f50c7;
}
.row__header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
p{
    font-weight: 500;
    line-height: 1.625;
}
.header{
    width: 40%;
    position: relative;
 
}
.main__img--wrapper{
    width: 60%;
}
.main__img{
    width: 100%;
}
.header__title{
    font-size: 50px;
}
.header__para{
    font-size: 18px;
    margin: 32px 0;
}
.header__input{
    
    width: 100%;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 99px;
}
.submit__email{
    position: relative;
    max-width: 448px;
    text-align: center;
    
}
.header__button{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-weight: 500;
    margin: 8px 8px 8px 0;
}
header{
    padding: 56px 0;
}
h6{
    opacity: 0.5;
    margin-top: 80px;
}
.customer__img{
    width: 360px;
}
.feature__img{
    width: 50%;

}
.features__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature__title{
    font-size: 24px;
    font-weight: 900;
    margin: 12px 0;

}
.title__feature{
    font-size: 48px;
    font-weight: 900;
}
.feature__description{
    max-width: 550px;
    color: rgba(124,139,161,1);
    text-align: center;
    line-height: 1.625;
    margin-top: 20px;
}
.feature__img-wrapper{
    border: 1px solid #516486;
    border-radius: 50%;
   
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
}
.features{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.feature{
    width: 30%;
    margin-top: 36px;
    display: flex;


}
.feature__para{
    line-height: 1.5;
    max-width: 200px;
}
.description__title{
    display: flex;
    flex-direction: column;
}
.quality__description{
    width: 50%;
    padding: 16px;
    padding-left: 36px;
}
.quality__img--wrapper{
    width: 50%;
}
.quality{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quality__description--para{
    font-size: 16px;
    margin: 24px 0;
    max-width: 70%;
}
.title{
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 16px;
}
.step{
    display: flex;

    justify-content: flex-start;
    margin-bottom: 36px;
}
.step__number{
    font-size: 40px;
    color: #726a6a;
    width: 40px;
    height: 40px;
    top: 0;
}
.step__para{
    max-width: 70%;
}
.step__description{
    margin-left: 24px;
}
.step__title{
    margin-bottom: 36px;
}
.steps__title{
    font-size: 24px;
    font-weight: 500;
}
.value{
    display: flex;
}
.value__description--para{
    font-size: 16px;
    margin: 24px 0;
}
.pricing__plans{
    display: flex;
    flex-direction: column;

    align-items: center;
}
.plans{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.plan{
    display: flex;
    border: 1px solid darkgray;
    flex-direction: column;
    width: 30%;
    text-align: center;
    padding: 0 32px;
    margin-top: 64px;
    border-radius: 10px;
}
.plan__title{
    font-size: 20px;
    font-weight: 700;
}
.plan__title--time{
    opacity: 0.8;
}
.plan__price{
    font-size: 48px;
    font-weight: 700;
    margin: 16px 0;
}
.perk__title{
    margin: 16px 0;
}
.price{
    padding: 16px 0;
    margin-top: 32px;
}
.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial__img--wrapper{
    width: 50%;
    margin-right: 24px;
}
.tesimonial__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.test__para{
    text-align: left;
    margin-top: 0;
    padding: 0;
    margin-bottom: 24px;
}
.icon__color{
    color: #ffdd7f;
}
.img__testimonial{
    width: 100%;
}
.img__testimonial--wrapper{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;

}
.people__testimonial{
    position: relative;
    margin-top: 24px;
}
.testimonial__position{
    position: absolute;
}
.btn__click{
    cursor: pointer;
    color: #6f96df;
    font-size: 32px;
}
.people__testimonials{
    display: flex;
}
.testimonial__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo__name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 24px;
}
.photo__names{
    display: flex;
    justify-content: center;
    align-items: center;
}
.test__title{
    margin: 16px 0;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f50c7;
    border-radius: 8px;
    padding: 80px 16px;
}
.para__contact{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__btn{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contact__para{
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-left: 16px;
    padding-left: 16px;
}
.btn__red{
    background-color: #ce3e33;
    opacity: 0.9;
    transition: all 300ms ease;
}
.btn__red:hover{
    opacity: 1;
}
.btn__big{
    padding: 24px 40px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 16px;
}
.btn__border{
    border: 1px solid white;
    transition: all 300ms ease;
}
.btn__border:hover{
    background-color: white;
    color: #0f50c7;
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.link{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color: #0f50c7;
    color: white;
}
.footer__link, .figure__img--wrapper{
    color: white;
}
.figure__img--wrapper{
    opacity: 0.9;
}
.footer__link:hover{
    color: white;
}
.footer__link{
    margin-bottom: 16px;
}
.footer__para{
    margin-bottom: 24px;
    font-weight: 700;
}
hr{
    margin: 64px 0;
    opacity: 0.9;

}
.perks__line{
    margin: 32px 0;
}
.plan__button{
    margin-bottom: 32px;
    padding: 20px 60px;
}
.plan__blue{
    background-color: #0f50c7;
    color: white;
}
.plan__button--1{
    background-color: #75ded2;
    opacity: 1;
    font-weight: 700;
}
.plan__button--2{
    background-color: white;
    opacity: 1;
    color: #0f50c7;
    font-weight: 700;
}
.plan__button--2:hover{
    color: #0f50c7;
}
.plan__button--3{
    background-color: #fb9595;
    opacity: 1;
    font-weight: 700;
}
.plan__perk{
    margin-bottom: 16px;
    text-align: center;
}